mat-card {
  height: 400px;
}
img {
  height: 200px;
}
/*
.filter {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
}

.filter-items {
  position: absolute;
  top: 8%;
}
 */






